@inherits LayoutComponentBase

<div class="main-content mdc-typography">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            @Body
        </div>
    </div>
</div>
