@inherits LayoutComponentBase

<div class="main-content mdc-typography">
    <main>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                @Body
            </div>
        </div>
    </main>
</div>
